/* COMPONENTS */

/* COMPONENTS */

.container{
    width: 90%;
    margin:auto;
    padding:1.5em 0;
}

.title-text{
    font-size: 3rem;
    font-weight: bold;
}

.support-text{
    line-height: 2;
    font-size: 1.2rem;
}

.btn{
    font-size: 1.5rem;
    background-color: hsl(0, 81%, 29%);
    padding: 0.6em 2em;
    border-radius: 0.2em;

    transition: all 300ms linear;
}

.btn:hover{
    background-color:#fd0000 ;
    transform: translateY(-10px);
}

.hide{
    display:none;
}